<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The-Beer-Cellar-Editing-<%=changeBeer.name%></title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/cellar.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans|Unica+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <h1>The Beer Cellar</h1>
      <a href="/The-Beer-Cellar/New"><input type="button" value="New Entry" class="newEntryLink"></a>
      <a href="/"><input type="button" value="Log Out" class="newEntryLink"></a>
    </nav>
    <div class="showContain">
      <h1 class="editH1">Editing <%=changeBeer.name%></h1>
      <form action="/The-Beer-Cellar/<%=changeBeer.id%>?_method=PUT" method="POST">
        <div class="newContain">
          <div class="newInfo">
            <h2>Name:</h2> <input type="text" name="name" class="editTexts" value="<%=changeBeer.name%>"/><br/>
            <h2>Company:</h2> <input type="text" name="company" class="editTexts" value="<%=changeBeer.company%>"/><br/>
            <h2>Image link: </h2><input type="text" name="img" class="editTexts" id="" value="<%=changeBeer.img%>"/><br/>
            <h2>Rating: (Out of 5)</h2> <input type="number" name="rating" class="editTexts" value="<%=changeBeer.rating%>"/><br/>
          </div>
          <div class="desDiv">
            <h2>Edit the beer description!</h2><br/><textarea name="description" class="newText" id="editDescription"/><%=changeBeer.description%></textarea><br/>
            <input type="submit" value="Update Beer" id="postButton"><br/>
            <a href="/The-Beer-Cellar/<%=changeBeer.id%>"><input type="button" value="Go Back" class="showButtons"></a>
          </div>
        </div>
      </form>
      </div>
    </div>
  </body>
</html>
