<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is the edit page.</h1>
    <form action="/The-Beer-Cellar/<%=changeBeer.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=changeBeer.name%>"/><br/>
      Company: <input type="text" name="company" value="<%=changeBeer.company%>" /><br/>
      Description: <textarea name="description" value="<%=changeBeer.description%>" ></textarea><br/>
      Image: <input type="text" name="img" value="<%=changeBeer.img%>"/><br/>
      Rating: <input type="number" name="rating" value="<%=changeBeer.rating%>"/><br/>
      <input type="submit" value="Update Entry">
    </form>
  </body>
</html>
