<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=thisBeer.name%></h1>
    <h2><%=thisBeer.company%></h2>
    <img src="<%=thisBeer.img%>" alt="<%=thisBeer.name%>">
    <p><%=thisBeer.description%></p>
    <h5><%=thisBeer.rating%></h5>
  </body>
</html>
